.puzzle {
  border-style: solid;
  bordercolor: Navy;
}

.navbar-nav {
  text-align: center;
}

.limit {
  width: 1150px;
  word-wrap: break-word;
}

body {
  background-image: url("./grey/grey.png")
}

h1 {
  background-color: rgb(60, 60, 60);
  padding: 25px 50px;
  color: white;
  border-style: solid;
  border-color: black;
}

.class1 {
  color: red;
}

.class2 {
  color: blue
}

p {
  font-size: 125%;
}

h2 {
  font-size: 200%;
}
