.puzzle {
  border-style: solid;
  bordercolor: Navy;
}

.navbar-nav {
  text-align: center;
}

.limit {
  width: 1150px;
  word-wrap: break-word;
}

body {
  background-image: url("./grey/grey.png")
}

.title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  background-color: rgb(60, 60, 60);
  padding: 25px 50px;
  color: white;
  border-style: solid;
  border-color: black;
}
