* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250, 240, 170);
}

.container-fluid {
    padding: 40px 50px;
}


#Intro {
  background-image: url('./Images/Binary5.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 550px;
}

#Intro h2 {
  color: white;
}


#AboutUs {
  background-color: #ffffff;
  color: black;
}

#Thanks {
  background-color: lightblue;
}

<<<<<<< HEAD
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
=======

#C {
  background-color: lightblue;
>>>>>>> Amy's-Branch
}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }
